spring:
  application:
    name: study-sessionManage
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true # Hibernate 테이블 생성 후 data.sql 실행
    properties:
      hibernate:
        format_sql: true

server:
  servlet:
    session:
      tracking-modes:
      cookie:
        http-only: true